# dependencies
node_modules/

# environment
.env

# logs
logs
*.log

# build
dist/
build/

# system files
.DS_Store
Thumbs.db

# prisma
prisma/migrations/

# firebase credentials
config/*firebase*.json
*.json
